.left-side {
  width: 60%;
  height: 100%;
  background-color: #17a2b8;
  text-align: center;
  
}

.left-side > img {
  width: 405px;
  height: 405px;
  margin-bottom: 0;
}

.left-side > h2 {
  position: relative;
  top: -70px;
  color: white;
  font-size: 33px;
  font-weight: 600;
}

.left-side > h2 > span {
  font-weight: 400;
  font-size: 19px;
  position: relative;
  top: -20px;
}

/* right side */
.right-side {
  width: 40%;
  height: 100%;
  background-color: white;
}

.login-title {
  font-size: 33px;
  font-weight: 600;
  color: #343434;
}

.login-form {
  width: 400px;
  padding: 30px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form .text-field {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #d0d0d0;
  border-radius: 11px;
  padding: 10px;
  margin-top: 20px;
}

.text-field > svg {
  width: 18px;
  height: 18px;
  color: #828282;
}

.text-field > input {
  width: 90%;
  height: 90%;
  font-size: 16px;
  border: none;
  outline: none;
  padding-left: 6px;
  color: #828282;
}

.login-btn {
  width: 315px;
  margin: 25px 0;
  background-color: #17a2b8;
  border-radius: 55px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  padding: 7px;
  color: white;
  cursor: pointer;
}

.login-form .link {
  font-size: 16px;
  font-weight: 400;
  color: #828282;
}

.link-btn {
  width: 300px;
  margin: 25px 0;
  border: 2px solid #17a2b8;
  border-radius: 55px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  color: #17a2b8;
  cursor: pointer;
  text-align: center;
}
